---
title: "404 | Wilson Junior Blog"
permalink: 404.html
---

<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="http://schema.org/WebPage" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
  {% include head.html %}
  <body>
        <style type="text/css" media="screen">
          .container {
            margin: 0px auto;
            max-width: 600px;
            text-align: center;
            padding-top: 60px;
          }
        </style>
        
        <div class="container">
          <img src="/assets/img/404.gif" width="100%" alt="404 - Página não encontrada">
          <p><strong>Página não encontrada :/</strong></p>
          <p>Sinto muito, parece que a página que você estava procurando não foi encontrada. Volte para a <a href="{{ site.baseurl }}/">Página Principal</a> ou vá para <a href="{{ site.baseurl }}/archive">Arquivos</a>.</p>
        </div>

  </body>
</html>