---
layout: default
color: #0870ad
---
<main class="home" id="post" role="main">
{% if site.var_website_construction == false %}

<div id="grid" class="row flex-grid">

  {% for post in paginator.posts %}

    <article class="box-item post-{{post.main-class}}" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">

      <div class="box-body">
        <meta itemprop="datePublished" content="{{post.date | date_to_xmlschema }}">
        <meta itemprop="dateModified" content="{{post.date | date_to_xmlschema }}">
        <meta itemprop="mainEntityOfPage" content="{{ post.url | prepend: site.url }}">

        <div itemprop="author" itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="Wilson Junior">
        </div>

        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="name" content="Wilson Junior Blog">
            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="https://blog.wilsonjunior.net/assets/img/icons/ms-icon-310x310.png">
            </div>
        </div>

        <meta itemprop="image" content="{{ site.url }}{{ post.image }}">

        <div class="ribbon">
            <a href="{{ site.url }}{{ post.url }}">{{post.main-class}}</a>
        </div>

        <a class="post-link" href="{{ site.url }}{{ post.url }}">
          <h2 class="post-title" itemprop="name headline">
              {{ post.title }}
          </h2>
        </a>

        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <p class="description">{{ post.introduction }}</p>
        </a>

        <span class="read-time">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          {% include read-time.html %}
        </span>

        <div class="tags" style="margin-top: .938rem">
            {% for tag in post.tags %}
                <a href="/tags/#{{tag | slugify }}">{{ tag }}</a>
            {% endfor %}
        </div>

      </div>

    </article>
  {% endfor %}

</div>

  {% include pagination.html %}
  
{% else %}
  {% include construction.html %}
{% endif %}
</main>

<script type="application/ld+json">
  {
      "@context": "http://schema.org/",
      "@type": "Website",
      "url": "https://blog.wilsonjunior.net/",
      "name": "Wilson Junior Blog",
      "author": {
          "type": "Person",
          "name": "Wilson Cordeiro Machado Junior",
          "sameAs": [
              "https://www.facebook.com/wilsonjunior.net"
          ]
      },
      "description": "{{ site.description }}"
  }
</script>