<section class="author">
    <div class="details">
        <img itemprop="image" class="img-rounded" src="/assets/img/others/profile.jpg" alt="Wilson Junior">
        <p class="def">Autor</p>
        <h3 class="name" itemprop="author">
            <a href="http://github.com/wilsonjuniorwj" target="_blank">Wilson Junior</a>
        </h3>
        <p class="desc">Desenvolvedor de Software e apaixonado por códigos. Acredito que a melhor forma de aprender é compartilhando conhecimento.</p>
    </div>
</section>