<div class="menu">
  <nav class="menu-content">
    {% for link in site.links %}
      <a href="{{ site.url }}{{site.baseurl}}{{ link.url }}">{{ link.title }}</a>
    {% endfor %} 
  </nav>
  <nav class="social-icons">
      <a href="{{ site.logo_icon }}" target="_blank" title="Website">
          <svg class="icon icon-logo">
              <use xlink:href="#icon-logo"></use>
          </svg>
      </a>
      <a href="{{ site.envelope_icon }}" target="_blank" title="Email">
          <svg class="icon icon-envelope">
              <use xlink:href="#icon-envelope"></use>
          </svg>
      </a>
      <a href="{{ site.linkedin_icon }}" target="_blank" title="LinkedIn">
          <svg class="icon icon-linkedin">
              <use xlink:href="#icon-linkedin"></use>
          </svg>
      </a>
      <a href="{{ site.github_icon }}" target="_blank" title="Github">
          <svg class="icon icon-github">
              <use xlink:href="#icon-github"></use>
          </svg>
      </a>
      <a href="{{ site.rss-square_icon }}" target="_blank" title="Feed">
          <svg class="icon rss-square">
              <use xlink:href="#icon-rss-square"></use>
          </svg>
      </a>
  </nav>
</div>
