html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

a {
    text-decoration: underline;
    color: #333;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

a:hover {
    color: black;
    border-bottom: none;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

img.auto {
    width: auto;
}

blockquote {
    border-left: 0.25rem solid #ccc;
    margin: 1.5em 10px;
    color: #999;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
    display: inline;
}

html {
    font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

.text-center {
    text-align: center
}

body {
    left: 0;
    right: 0;
    margin: auto
}

html,
body {
    height: 100%
}

.bar-header {
    background: #fff;
    padding: .625rem 1.25rem;
    max-width: 64rem;
    margin-right: auto;
    margin-left: auto;
    z-index: 10;
}

.bar-header a:hover {
    color: black;
}

.bar-header-title a {
    font-size: 2rem;
    text-decoration: none;
    color: #505050;
}

.bar-header-subtitle {
    color: #999;
    font-size: 57%;
}

@media (max-width: 30rem) {
    .bar-header-title small,
    .social-icons {
        display: none;
    }
}

.menu {
    padding-top: 0.5rem;
    display: block;
}

.menu-content {
    float: left;
}

.menu-content a {
    color: #999;
    font-size: 1rem;
    padding-right: 10px;
}

.social-icons {
    float: right;
}

.social-icons a {
    color: #999;
    font-size: 1rem;
}

@media (max-width: 30em) {
    .social-icons {
        float: left;
        padding-top: 0px;
    }
    .menu-content {
        margin-bottom: 5px;
    }
}

main {
    padding-top: 5.25rem
}

.row {
    *zoom: 1;
    width: auto;
    max-width: 64.375rem;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0
}

.row:before,
.row:after {
    content: '';
    display: table
}

.row:after {
    clear: both
}

.read-time {
    color: #9a9a9a;
    font-size: 0.8rem;
    font-weight: bold;
}

footer {
    color: #999;
    text-align: center;
    padding: 1.563rem 0;
    margin-top: 50px;
}

footer p,
footer a {
    color: #999;
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
    margin: .5rem
}

.footer a {
    padding: 10px;
}

.footer a:hover {
    color: #333;
}

.fa-facebook {
    padding: 5px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-linkedin {
    padding: 5px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.fa-linkedin:hover {
    color: #4875B4;
}

.fa-github {
    padding: 5px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.fa-github:hover {
    color: #333333;
}

.fa-globe {
    padding: 5px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.fa-globe:hover {
    color: #14568E;
}

.fa-envelope {
    padding: 5px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.fa-envelope:hover {
    color: #c71610;
}

.fa-rss-square {
    padding: 5px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.fa-rss-square:hover {
    color: #ff6600;
}

.fa-twitter {
    padding: 5px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.fa-twitter:hover {
    color: #55acee;
}

.fa-google-plus {
    padding: 5px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.fa-google-plus:hover {
    color: #dd4b39;
    transition: .5s;
}

.fa-google-plus:hover {
    color: #dd4b39;
}

.container {
    padding-top: 1.70rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

@media (max-width: 48em) {
    .container {
        width: 90vw;
    }
}

.post-container {
    margin-bottom: 4rem;
}

.posts {
    margin-bottom: 5rem;
    padding: 0px;
    list-style: none;
}

.tag-link {
    color: #999;
    font-size: 1rem;
    padding-right: 0.3rem;
    text-decoration: none;
    font-weight: bold;
}

a.tag-link:hover {
    text-decoration: none;
    color: black;
}

ul.tag-link {
    padding: 0px;
    list-style: none;
}

ul.tag-link li {
    list-style-type: none;
    display: inline;
}

.badge {
    background-color: #636c72;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
    color: #fff;
    font-size: 0.9em;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

a:hover .badge {
    background-color: black;
}

.tag-link .badge {
    margin-left: -0.1em;
    margin-right: 0.5em;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.p-about {
    color: #333;
    font-size: 1.25rem;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 2;
    letter-spacing: .069rem;
}

.skill-list li {
    color: #333;
    font-size: 1.25rem;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 2;
    letter-spacing: .069rem;
    list-style-type: disc;
}