.comments {
    *zoom: 1;
    width: auto;
    max-width: 50rem;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    padding: 0 1.25rem;
}

.comments:before,
.comments:after {
    content: '';
    display: table
}

.comments:after {
    clear: both
}

.comments h3 {
    margin: 0 0 1.875rem;
    font-size: 1.875rem
}

footer {
    color: #999;
    text-align: center;
    padding: 1.563rem 0;
    margin-top: 2rem;
}

footer p,
footer a {
    color: #999;
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
    margin: .5rem
}

.footer a {
    padding: 10px;
}

.footer a:hover {
    color: #333;
}

.footer svg {
    fill: #999;
    padding: 5px;
    width: 20px;
    height: 20px;
}

.footer svg:hover {
    fill: black;
}