---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
  {% include head.html %}

  <!-- Inline css post -->
  <style type="text/css">
    {% include posts.css %}
  </style>

  <body>
      {% include header.html %}
      {% include night-mode.html %}
    
    <section class="post">

      <article role="article" id="post" class="post-content">
        {{ content }}
        <hr/>
      </article>

      <!-- {% if page.tags %}
      <div>
        {% for tag in page.tags %}
          <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}" class="tag-link">#{{tag}}</a>
        {% endfor %}
      </div>
      {% endif %} -->

      <!-- <span class="post-date">
        Postado por
        {% if page.author %}
          {{ page.author }}
        {% else %}
          {{ site.username }}
        {% endif %}
      </span> -->

      <!-- {% include social-sharing.html %} -->

      {% include author.html %}

      <!-- {% comment %} {% include related-posts.html %} {% endcomment %} -->

      <!-- {% include related-posts.html %} -->

      <!-- {% include next-prev-post.html %} -->

      {% include comments.html %}

      {% include footer.html %}

    </section>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "BlogPosting",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
            },
            "headline": "{{page.title}}",
            "datePublished": "{{page.date}}",
            "dateModified": "{{page.date}}",
            "description": "{{page.description}}",
            "image": {
                "@type": "ImageObject",
                "url": "{{ site.url }}{{page.image }}"
            },
            "author": {
                "@type": "Person",
                "name": "Wilson Cordeiro Machado Junior"
            },
            "publisher": {
                "@type": "Organization",
                "name": "Wilson Junior Blog",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://blog.wilsonjunior.net/assets/img/icons/ms-icon-310x310.png"
                }
            },
            "articleBody": "{{ content | strip_html | strip_newlines | replace: '"', '' }}"
        }
    </script>

  </body>
</html>